.container {
    position: absolute;
    margin-left: 6rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 1px solid black;
    width: 80%;
    height: 27rem;
    font-weight: bold;
    text-align: center;
    left: -1.5rem;
}

.content {
    position: relative;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 2%;
    text-align: left;
    width: 80%;
    height: 18rem;
    border: 1px solid black;
}

h4 {
    text-align: left;
    padding-left: 5%;
}

hr {
    width: 86%;
    transform: translateX(-4px);
}

#display {
    width: 85%;
    height: 6rem;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px dashed grey;
}

#generateBtn, #copyBtn {
    height: 2rem;
    width: 10rem;
    border-radius: 20px;
    background: rgb(155, 3, 3);
    color: white;
    font-weight: bold;
    margin-top: 2%;
}

#generateBtn {
    margin-left: 10%;
}

#copyBtn {
    margin-left: 10%;
}

/* Responsive Design Components */

@media screen and (max-width: 698px) {
    #generateBtn, #copyBtn {
        width: 7rem;
    }
}

 


